<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="image-div">
            <img class="img" src="assets/images/KORE_Wireless_company_logo.svg.png" alt="">
        </div>
        <div class="main-img">
            <img src="assets/images/innovative.jfif" alt="" class="img-2">
        </div>
        <div class="info-container">
            <div class="agile-logo">
                <h1>Innovative</h1>
            </div>
            <div class="info">
                Compining the capacity of large glob providers with the velocity of a tight team, we get more of the right things done, faster.
            </div>
            <div class="button">
                <button class="btn" (click)="btnclick()">Press Here</button>
            </div>
        </div>
    </div>
</body>