<body>
    {{title}}
    <div class="container">
        <div class="image-div">
            <img class="img" src="assets/images/KORE_Wireless_company_logo.svg.png" alt="">
        </div>
        <div class="main-img">
            <img src="assets/images/industry-1.jpg" alt="" class="img-2">
        </div>
        <div class="info-container">
            <div class="agile-logo">
                <h1>Agile</h1>
            </div>
            <div class="info">
                Compining the capacity of large glob providers with the velocity of a tight team, we get more of the right things done, faster.
            </div>
        </div>
        <div class="button">
            <button class="btn" (click)="btnclick()">Press Here</button>
        </div>
    </div>
</body>
